name: Build Plugin

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

env:
  BUILD_TYPE: RelWithDebInfo
  SOURCE_ROOT: ${{ github.workspace }}/build/mo2-fomod-plus

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Build
        uses: modorganizer2/build-with-mob-action@master
        with:
          mo2-owner: 'ModOrganizer2'
          mo2-branch: 'master'
          mo2-dependencies: uibase archive
          mo2-skip-build: true

      - name: Configure (vcpkg preset)
        run: >
          cmake --preset vs2022-windows-vcpkg
          -DCMAKE_PREFIX_PATH="${{ github.workspace }}/install/lib/cmake;${{ github.workspace }}/install/share"
          -Dmo2-cmake_DIR="${{ github.workspace }}/install/lib/cmake/mo2-cmake"
          -DFOMOD_PLUS_BUILD_PATCHFINDER=OFF
        working-directory: ${{env.SOURCE_ROOT}}

      - name: Build & Install
        run: |
          cmake --build vsbuild-vcpkg --config ${{env.BUILD_TYPE}} --target package
          cmake --install vsbuild-vcpkg --config ${{env.BUILD_TYPE}} --prefix ${{env.SOURCE_ROOT}}/install
        working-directory: ${{env.SOURCE_ROOT}}

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mo2-fomod-plus
          path: |
            ${{env.SOURCE_ROOT}}/package
            ${{env.SOURCE_ROOT}}/install/bin
